@model TaskRobo.Models.Category
@{
    ViewBag.Title = "Create";
}

<h2>Create Category</h2>

<hr />


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "create Failed, fields.");
    <div>
        <fieldset>
            <div class="editor-label">@Html.LabelFor(u => u.CategoryTitle)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.CategoryTitle)
                @Html.ValidationMessageFor(u => u.CategoryTitle)
            </div>
            <input type="submit" value="Create" />
        </fieldset>
    </div>
}
