@model TaskRobo.Models.Category
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "create Failed, fields.");
    <div>
        <fieldset>
            <legend>Category Form</legend>
            <div class="editor-label">@Html.LabelFor(u => u.CategoryTitle)</div>
            <div class="editor-field">
                @Html.TextBoxFor(u => u.CategoryTitle)
                @Html.ValidationMessageFor(u => u.CategoryTitle)
            </div>
            <input type="submit" value="Delete" />
        </fieldset>
    </div>
}
